*.class
*.iml
/common/target/
.idea/
.gradle/
backend/target
solvers/cpsolver/target
solvers/ilpsolver/target
solvers/originalsolver/target
solvers/solution-checker/target
solvers/solverapi/target
FrontEnd/build