*.class
*.iml
.DS_Store
/common/target/
.idea/
.gradle/
backend/target
solvers/cpsolver/target
solvers/ilpsolver/target
solvers/originalsolver/target
solvers/solution-checker/target
solvers/solverapi/target
frontend/build
frontend/node


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
